0.build/Z1*/
0.build/HECA*/
0.build/11B*/
0.build/_bkup/
0.build/언어팩Test/
0.build/test/

FlashLayout.json

headset/workspace/QCC3044-AA_DEV-BRD-R2-AA/depend_*/
headset/workspace/QCC3044-AA_DEV-BRD-R2-AA/dfu/202*/
headset/workspace/QCC3044-AA_DEV-BRD-R2-AA/image/
headset/workspace/QCC3044-AA_DEV-BRD-R2-AA/*.xuv
headset/workspace/QCC3044-AA_DEV-BRD-R2-AA/filesystems/*.xuv

QCC3040/
QCC3042/
QCC3046/
QCC3070/
QCC3071/
QCC3072/
QCC51*/

*.bin
*.aac
*.sbc
*.exe
*.dll
*.mak
FlashLayout.josn
*.user
*.original
*.lib
*.libs
*.link
*.preprocess
*.strip
*.dbx
*.dby
*.db_
*.elf
*.map
*.objs
*_infodb.csv
*.xlsx
*.bak
*.zip
*.txt
*.html
*.d
*.o
*.a
*.TMP
*.flags.compile
*flags.compile
*.d_
build_id_str.c

